/* Global Layout Set-up */

* { 
  box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Merriweather', serif;
	font-weight: 300;
	background-color: #efefef;
	color: #4A4A4A;
}


/* Basic Layout */

#wrapper {
	margin: 0 auto;
	max-width: 900px;
    background-color: #fff;
    padding: 1em 3em 3em;
}



/* Text formating */

h1{
    font-size: 3em;
	font-weight: 700;
    text-shadow: 0 1px 0 #ccc,
                 3px 2px 3px #333;
}

h2, legend{
	font-weight: 400;
    
}

legend {
    padding: 1em 0;
    font-size: 1.2em;
}

.italic-special {
    font-style: italic;
    text-align: center;
    font-size: .8em;
}

::-webkit-input-placeholder {
    font-style: italic;
    text-align: right;
}

::-moz-placeholder {
    font-style: italic;
    text-align: right;
}

:-ms-input-placeholder {
    font-style: italic;
}

:-moz-placeholder {
    font-style: italic;
}


/* Header */

header {
    background: radial-gradient(transparent 70%, #ffa949),
               
                #ffa949 url('../images/header_bg.jpg') no-repeat center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20em;
    text-align: center;
    padding-top: 5em;
    color: #fff;
}

.sub-header {
    text-align: center;
    padding-bottom: 1em;
    border-bottom: 2px double #333;
    
}

/* form */

fieldset {
    border: none;
}

label {
    height: 3em;
    display: inline-block;
    margin-top: 1em;
}

.label-flexible {
    width: 100%;
    
}

.large-label {
    width:100%;
}

input[type="text"], 
input[type="email"], 
select, 
textarea,
input[type="tel"]{
    padding: 1em;
    background-color: #efefef;
    border-radius: 3%;
    border: 0;
    color: #333;
}

input[type="text"], 
input[type="email"], 
select,
input[type="tel"]{
    width: 100%;
    height: 3.5em;
    letter-spacing: 0.1em;
    color: #4f9ab7;
    }

textarea {
    width: 100%;
    height: 8em;
    resize: none;
    margin-bottom: 1em;
    letter-spacing: 0.1em;
    color: #4f9ab7;
}

button {
    font-family: 'Merriweather', serif;
    width: 100%;
    height: 3.5em;
    text-align: center;
    padding: 1em 0;
    color: #fff;
    background-color:#4fbab4;
    border: none;
    border-radius: 3%;
}

input:focus, 
select:focus, 
textarea:focus{
    transition: border .3s ease 0s, box-shadow .3s ease 0s, background .3s ease 0s;
    outline: none;
    border: 1px solid #fcc96b;
    box-shadow: 3px 3px 15px #4f9ab7;
    background-color: #f9d498;
}

input:checked {
    border: 1px solid #46698b;
}

/********** Media Querys ************/

/* Medium screens */

@media (min-width: 760px) {
    
	input[type="text"], input[type="email"], input[type="tel"], select {
        width: 70%;
    }
    
    .label-flexible {
        width: 26%;
    }

}

/* Large screens */

@media (min-width: 1024px) {
    button{
        width: 50%;
        margin: 0 25%;
    }
}